<img src="/public/images/niter-working.jpg" style="width: 100%;">
<hr>
<div style="padding: 15px;">

    <br/>
    <h1 style="text-align: center;">About Niter88</h1>
    <br/>
    
    <p> Niter is a Fullstack and Game Developer born by December in 1994 on the South of Brazil.</p>
    <p>
        Niter is known to be an highly intelligent neurodivergent man with an equally unique sense of humor <i>(sighs deeply writting this)</i>
        and an insatiable curiosity about the gears of the universe.
        Sometimes mistaken by a regular human, Niter is trained in facial expresions reckognition and psychology to help him cope with his <i>(otherwhise)</i> naturally low social skills.
        He is also capable of a very assertive communication and empaty, which makes working with him a rather easy task.
    </p>
    <p>
        Still on the social topic, the subject is know to befriends with great individuals, surounding himself by persons of high value to society <i>(I couldn't make this without mentioning my dearest friends &#128512;)</i>.
        It is said that Niter's friends are within the most interesting persons of this century.
    </p>
    <br/>
    <p>
        Niter has given birth to projects of giant robots in agriculture and industry, leading the software's decision making and human interface.
        His abillities are low-end centered, resulting in a great speciallity in problem solving through code. Niter is well known to give ultimate importance to performancy and stability on his products.
    </p>
</div>
<br/>