<style>

    .rpg-image {
        margin: 25px;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        padding: 10px;
    }
    
    .grid-item {
        border: 1px solid lightgray;
        background-color: #f3f3f3;
        padding: 20px;
        margin: 25px;
        text-align: center;
    }

    
</style>


<h1>Niter88 RPGs</h1>
<br/>
<p>
    Niters RPGs can be found at <a href="https://play.aidungeon.com/profile/Niter88?contentType=scenario" target="_blank">aidungeon.com/profile/Niter88 <i class="bi bi-box-arrow-up-right"></i></a>.
    Most of it are romance RPGs and I'm still publishing it so be patient please ❤️.
</p>
<p>
    You can see some RPGs listed bellow as well as it's links.
</p>
<br/>

<hr/>

<div class="grid-container">
    <div class="story-card grid-item">
        <h3><a href="https://play.aidungeon.com/scenario/ANkmUuUDLZIu/blaze-the-foxgirl-and-the-woodcutter" target="_blank">
            Blaze the Foxgirl and the woodcutter
        </a></h3>
        
        <img class="rpg-image" src="/pub/images/blaze-blinking.gif"/>
        
        <p>
            You find a wounded Foxgirl named Blaze, she is sweet and cheerful, 
            she also heals super quickly, has super strenght and agility.
            You find her in the middle of the forest, an arrow piercing her belly,
            you took her home and took care of her wounds, now both of you feel a connection.
        </p>
        <p>
            This story is a tragic romance, you'll have to take care of her. 
            Humans fear the supernatural and will attack her,
            specially a cult called <i>"The Dark Order"</i>. The civilians will call for help
            if they notice that Blaze is not human.
        </p>
    </div>
    <div class="story-card grid-item">
        <h3><a href="https://play.aidungeon.com/scenario/ANkmUuUDLZIu/blaze-the-foxgirl-and-the-woodcutter" target="_blank">
            Blaze the Foxgirl and the woodcutter
        </a></h3>
        
        <img class="rpg-image" src="/pub/images/blaze-blinking.gif"/>
        
        <p>
            You find a wounded Foxgirl named Blaze, she is sweet and cheerful, 
            she also heals super quickly, has super strenght and agility.
            You find her in the middle of the forest, an arrow piercing her belly,
            you took her home and took care of her wounds, now both of you feel a connection.
        </p>
        <p>
            This story is a tragic romance, you'll have to take care of her. 
            Humans fear the supernatural and will attack her,
            specially a cult called <i>"The Dark Order"</i>. The civilians will call for help
            if they notice that Blaze is not human.
        </p>
    </div>
</div>

<!-- <div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>
  </div> -->

  <hr/>
  <p>
    Please, interact with my content if you can. All the feedback is helpful
    and I'll appreciate a lot if you like and favorite the stories as well as playing it 😊.
  </p>
  <br/>