<img src="/pub/images/niter-working.jpg" style="width: 100%;">
<hr>
<div style="padding: 15px;">

    <h1>Cidade Niter88 Brasil</h1>
    <p>
        This city was first idealized when Niter felt the need for a good map 
        to play VRChat with his friends. This is the most performant world on 
        the Brazil community and it was the first world to implement a money system (world wide).
    </p>
    <p>
        This city features a money system, it has two jobs, craftsman (focused on VR users) and 
        garbage collector (focused on mouse and keyboard users).
        Right now you can use your Nelson Dollars (N$) to buy items on the map, like "Ola Ola", "Olitos" and "Olar". 
        You can also rent an hotel room or bet your Nelsies agains your friends in the snooker game. 
        The map also counts with vehicles, bus system, a movie theater, a basketball court, homeless area, etc...
    </p>
    <p>
        This world is one of the best performant worlds in VRChat, it counts with great techniques to keep it light, 
        the performance improvements where handpicked to give the best experience even in old PCs.
        The scripts are made to use only the necessary resources to do their jobs.
        On top of that, it counts with custom made shaders that add to the visuals while being simple to process in your graphics card. 
        A good example are the clouds, they're rendered directly in your GPU in the lightest way possible.
    </p>
    <p>
        Since data persistance has been added to the game, a bank transfer system is being implemented right now along with saving your money ❤️.
    </p>

    <div>
        <a class="dropdown-item" href="https://vrchat.com/home/launch?worldId=wrld_94921dcd-c743-47ac-a9ec-cf39c9c430ce" target="_blank">
            Niter88 City on VRChat  <i class="bi bi-box-arrow-up-right"></i>
        </a>
    </div>
</div>