<img src="/pub/images/niter-working.jpg" style="width: 100%;">
<hr>
<div style="padding: 15px;">

    <h1>Cidade Niter88 Brasil</h1>
    <p>
        This city was first idealized when Niter felt he needed a good map 
        to play VRChat with his friends. This is the most performant world on 
        the Brazil community and uses great features such as a money system.
    </p>
    <p>

    </p>

    <div>
        <a class="dropdown-item" href="https://vrchat.com/home/launch?worldId=wrld_94921dcd-c743-47ac-a9ec-cf39c9c430ce" target="_blank">
            Niter88 City on VRChat  <i class="bi bi-box-arrow-up-right"></i>
        </a>
    </div>
</div>